body{
   text-align:center;
   background:linear-gradient(#ff40d6 0%, #dc40ff 100%);
}
img{
border-radius: 50%;
   border-width: thin;
   width: 200px;
   text-align: center;
}
h1{
   text-shadow: 2px 2px #40fffc;
   font-size:30px;
}
.link{
   background-color:darkblue;
   display:inline;
   padding-top: 5px;
   padding-left: 9px;
   padding-bottom: 5px;
   padding-right: 9px;
}
#bio{
   padding: 20px;
   font-family: serif;
   font-size: 20px;
}
p{
color: chartreuse;  
}
.menu{
   list-style: none;
   font-family: inherit;
   float: center;
   top:10px;
   Right:30px;
   Cursor: pointer;
   Color: white;
  display:inline;
}
.menu:hover{
   color: aqua;
}
#reading{
 
    font-size: 50px;
    color:burlywood;
}
#work{
 
    font-size: 50px;
    color:burlywood;
}
#harrypotter{
    text-align: center;
width:500px;
    height: 500px;
}
#harrypotter:hover{
   background-color:aqua;
}
#Avengers{
    text-align: center;
width:500px;
    height: 500px;
}
#Avengers:hover{
   background-color:aqua;
}